.calculator-container {
    border: black solid .5em;
    max-width: 500px;
    min-width: 300px;
    min-height: 400px;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    background-color: #222;
    border-radius: 1em;
}

.calculator-content-container {
    display: grid;
    padding: 1em;
    grid-template-rows: 10% 10% 80%;
}

.other-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator-button-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    grid-auto-rows: minmax(0,100px);
    justify-content: center;
}